@import 'bulma/bulma.sass';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

$ppGreen: #009954;
$ppGreenDark: #0b534c;
$ppGreenLight: #02967a;
$ppGreenAccent1: #04f9ca;
$ppGreenAccent2: #7cfce4;
$darkBlue: #1b1c33;
$greyish: #f2f2f2;
$whiteish: #fdfdfd;

@import 'header';
@import 'main';
@import 'feature';
@import 'footer';

html,
body {
    background-color: $greyish;
    font-family: 'Poppins', sans-serif;
}

.justGreen {
    color: $ppGreen;
    font-weight: 900;
}

.makeItGreen {
    background-color: $ppGreen;
}
